In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from scipy import stats

In [ ]:
dia = pd.read_csv("/content/DatasetofDiabetes.csv")
adult = pd.read_csv("/content/adult.csv")

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
dia

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [ ]:
adult

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
adult.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [ ]:
dia.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [ ]:
dia.loc[6,"HDL"] = np.nan
dia.loc[10,"TG"] = np.nan
dia.loc[12,"TG"] = np.nan
dia.loc[12,"TG"] = np.nan
dia.loc[15,"HDL"] = np.nan
dia.loc[2,"HDL"] = np.nan
dia.loc[11,"TG"] = np.nan
dia.loc[16,"HDL"] = np.nan
dia.loc[22,"TG"] = np.nan
dia.loc[23,"HDL"] = np.nan

In [ ]:
adult.loc[6,"capital-gain"] = np.nan
adult.loc[10,"capital-gain"] = np.nan
adult.loc[12,"capital-gain"] = np.nan
adult.loc[12,"capital-gain"] = np.nan
adult.loc[15,"hours-per-week"] = np.nan
adult.loc[2,"hours-per-week"] = np.nan
adult.loc[11,"hours-per-week"] = np.nan
adult.loc[16,"hours-per-week"] = np.nan
adult.loc[22,"hours-per-week"] = np.nan
adult.loc[23,"capital-gain"] = np.nan

In [ ]:
dia.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           5
HDL          5
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [ ]:
adult.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       4
capital-loss       0
hours-per-week     5
native-country     0
income             0
dtype: int64

In [ ]:
print(dia.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         995 non-null    float64
 9   HDL        995 non-null    float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB
None

In [ ]:
print(adult.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48838 non-null  float64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48837 non-null  float64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 5.6+ MB
None

In [ ]:
print(dia.describe())
print(adult.describe())

                ID     No_Pation          AGE         Urea           Cr  \
count  1000.000000  1.000000e+03  1000.000000  1000.000000  1000.000000
mean    340.500000  2.705514e+05    53.528000     5.124743    68.943000
std     240.397673  3.380758e+06     8.799241     2.935165    59.984747
min       1.000000  1.230000e+02    20.000000     0.500000     6.000000
25%     125.750000  2.406375e+04    51.000000     3.700000    48.000000
50%     300.500000  3.439550e+04    55.000000     4.600000    60.000000
75%     550.250000  4.538425e+04    59.000000     5.700000    73.000000
max     800.000000  7.543566e+07    79.000000    38.900000   800.000000

             HbA1c         Chol          TG         HDL          LDL  \
count  1000.000000  1000.000000  995.000000  995.000000  1000.000000
mean      8.281160     4.862820    2.355487    1.204472     2.609790
std       2.534003     1.301738    1.402100    0.660804     1.115102
min       0.900000     0.000000    0.300000    0.200000     0.300000
25%       6.500000     4.000000    1.500000    0.900000     1.800000
50%       8.000000     4.800000    2.000000    1.100000     2.500000
75%      10.200000     5.600000    2.900000    1.300000     3.300000
max      16.000000    10.300000   13.800000    9.900000     9.900000

              VLDL          BMI
count  1000.000000  1000.000000
mean      1.854700    29.578020
std       3.663599     4.962388
min       0.100000    19.000000
25%       0.700000    26.000000
50%       0.900000    30.000000
75%       1.500000    33.000000
max      35.000000    47.750000
                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48838.000000
mean      38.643585  1.896641e+05        10.078089   1079.024592
std       13.710510  1.056040e+05         2.570973   7452.280272
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48837.000000
mean      87.502314       40.423224
std      403.004552       12.390827
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

In [ ]:
#finding columns having mssing values

mv_dia = dia.isnull().sum()
mv_adult = adult.isnull().sum()

print(mv_dia[mv_dia > 0])
print(mv_adult[mv_adult>0])

TG     5
HDL    5
dtype: int64
capital-gain      4
hours-per-week    5
dtype: int64

In [ ]:
#handleng missing values
# Step 1: Create an instance of SimpleImputer with the median strategy for Age and mean stratergy for Salary
imputer1 = SimpleImputer(strategy = "mean")
imputer2 = SimpleImputer(strategy = "median")

dia_copy = dia
adult_copy = adult

# Step 2: Fit the imputer on the columns having null values with the mean of the columns and the median of the columns
# Note: SimpleImputer expects a 2D array, so we reshape the column
imputer1.fit(dia_copy[["TG"]])

# Step 3: Transform (fill) the missing values in the "Age" and "Salary"c column
dia_copy["TG"] = imputer1.transform(dia_copy[["TG"]])
imputer1.fit(dia_copy[["HDL"]])
dia_copy["HDL"] = imputer1.transform(dia_copy[["HDL"]])


# Step 2: Fit the imputer on the columns having null values with the mean of the columns and the median of the columns
imputer1.fit(adult_copy[["capital-gain"]])
imputer2.fit(adult_copy[["hours-per-week"]])
# Step 3: Transform (fill) the missing values in the "capital-gain" and "hours-per-week"c column
adult_copy["capital-gain"] = imputer1.transform(adult_copy[["capital-gain"]])
adult_copy["hours-per-week"] = imputer2.transform(adult_copy[["hours-per-week"]])

# Verify that there are no missing values left
print(dia_copy["TG"].isnull().sum())
print(dia_copy["HDL"].isnull().sum())

# Verify that there are no missing values left
print(adult_copy["capital-gain"].isnull().sum())
print(adult_copy["hours-per-week"].isnull().sum())

0
0
0
0

In [ ]:
#Handling Categorical Attributes
#Using Ordinal Encoding for gender COlumn of diabetic csv and workinbg class of the adult csv

# Initialize OrdinalEncoder
ordinal_encoder = OrdinalEncoder(categories=[["M", "F","f"]])
# Fit and transform the data
dia_copy["Gender_Encoded"] = ordinal_encoder.fit_transform(dia_copy[["Gender"]])

# Initialize OneHotEncoder for working class of adult.csv
onehot_encoder = OneHotEncoder()

# Fit and transform the "City" column
encoded_data = onehot_encoder.fit_transform(adult[["workclass"]])

# Convert the sparse matrix to a dense array
encoded_array = encoded_data.toarray()

# Convert to DataFrame for better visualization
encoded_df = pd.DataFrame(encoded_array, columns=onehot_encoder.get_feature_names_out(["workclass"]))
df_encoded = pd.concat([adult_copy, encoded_df], axis=1)

df_encoded.drop("workclass", axis=1, inplace=True)


print(df_encoded. head())
print(dia_copy)

   age  fnlwgt     education  educational-num      marital-status  \
0   25  226802          11th                7       Never-married
1   38   89814       HS-grad                9  Married-civ-spouse
2   28  336951    Assoc-acdm               12  Married-civ-spouse
3   44  160323  Some-college               10  Married-civ-spouse
4   18  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  ...  income  \
0  Machine-op-inspct    Own-child  Black    Male           0.0  ...   <=50K
1    Farming-fishing      Husband  White    Male           0.0  ...   <=50K
2    Protective-serv      Husband  White    Male           0.0  ...    >50K
3  Machine-op-inspct      Husband  Black    Male        7688.0  ...    >50K
4                  ?    Own-child  White  Female           0.0  ...   <=50K

   workclass_? workclass_Federal-gov workclass_Local-gov  \
0          0.0                   0.0                 0.0
1          0.0                   0.0                 0.0
2          0.0                   0.0                 1.0
3          0.0                   0.0                 0.0
4          1.0                   0.0                 0.0

   workclass_Never-worked  workclass_Private  workclass_Self-emp-inc  \
0                     0.0                1.0                     0.0
1                     0.0                1.0                     0.0
2                     0.0                0.0                     0.0
3                     0.0                1.0                     0.0
4                     0.0                0.0                     0.0

   workclass_Self-emp-not-inc  workclass_State-gov  workclass_Without-pay
0                         0.0                  0.0                    0.0
1                         0.0                  0.0                    0.0
2                         0.0                  0.0                    0.0
3                         0.0                  0.0                    0.0
4                         0.0                  0.0                    0.0

[5 rows x 23 columns]
      ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG       HDL  LDL  \
0    502      17975      F   50   4.7  46    4.9   4.2  0.9  2.400000  1.4
1    735      34221      M   26   4.5  62    4.9   3.7  1.4  1.100000  2.1
2    420      47975      F   50   4.7  46    4.9   4.2  0.9  1.204472  1.4
3    680      87656      F   50   4.7  46    4.9   4.2  0.9  2.400000  1.4
4    504      34223      M   33   7.1  46    4.9   4.9  1.0  0.800000  2.0
..   ...        ...    ...  ...   ...  ..    ...   ...  ...       ...  ...
995  200     454317      M   71  11.0  97    7.0   7.5  1.7  1.200000  1.8
996  671     876534      M   31   3.0  60   12.3   4.1  2.2  0.700000  2.4
997  669      87654      M   30   7.1  81    6.7   4.1  1.1  1.200000  2.4
998   99      24004      M   38   5.8  59    6.7   5.3  2.0  1.600000  2.9
999  248      24054      M   54   5.0  67    6.9   3.8  1.7  1.100000  3.0

     VLDL   BMI CLASS  Gender_Encoded
0     0.5  24.0     N             1.0
1     0.6  23.0     N             0.0
2     0.5  24.0     N             1.0
3     0.5  24.0     N             1.0
4     0.4  21.0     N             0.0
..    ...   ...   ...             ...
995   0.6  30.0     Y             0.0
996  15.4  37.2    Y              0.0
997   8.1  27.4    Y              0.0
998  14.0  40.5    Y              0.0
999   0.7  33.0    Y              0.0

[1000 rows x 15 columns]

In [ ]:
#Data Transformation
# Min-Max Scaler/Normalization (range 0-1)
#Pros: Keeps all data between 0 and 1; ideal for distance-based models.
#Cons: Can distort data distribution, especially with extreme outliers.
normalizer = MinMaxScaler()
df_encoded[['capital-gain']] = normalizer.fit_transform(df_encoded[['capital-gain']])
df_encoded.head(20)

,age,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,...,income,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,25,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,38,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,28,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.000000,...,>50K,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,44,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0.076881,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,18,103497,Some-college,10,Never-married,?,Own-child,White,Female,0.000000,...,<=50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,34,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,29,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0.010790,...,<=50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,63,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.031030,...,>50K,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,24,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,55,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,65,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.010790,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,36,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.000000,...,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,26,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0.010790,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,58,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0.000000,...,<=50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,48,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.031030,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,43,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,20,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,43,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,37,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,40,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.000000,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
# Standardization (mean=0, variance=1)
#Pros: Works well for normally distributed data; suitable for many models.
#Cons: Sensitive to outliers.
scaler = StandardScaler()
df_encoded[['age']] = scaler.fit_transform(df_encoded[['age']])
df_encoded.head(20)

,age,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,...,income,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,-0.995129,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,-0.046942,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.776316,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0.000000,...,>50K,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.390683,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0.076881,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,-1.505691,103497,Some-college,10,Never-married,?,Own-child,White,Female,0.000000,...,<=50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-0.338691,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,-0.703379,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0.010790,...,<=50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.776496,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.031030,...,>50K,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,-1.068066,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,1.192996,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,1.922371,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.010790,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,-0.192816,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.000000,...,<=50K,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,-0.922191,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0.010790,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,1.411808,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0.000000,...,<=50K,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.682433,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.031030,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,0.317746,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,-1.359816,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0.000000,...,<=50K,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,0.317746,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,-0.119879,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0.000000,...,<=50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,0.098933,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.000000,...,>50K,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
#Removing Outliers
# Z-score method
#Pros: Good for normally distributed data.
#Cons: Not suitable for non-normal data; may miss outliers in skewed distributions.

df_encoded_copy2['Salary_zscore'] = stats.zscore(df_encoded_copy2['Salary'])
df_encoded_copy2['Salary'] = np.where(df_encoded_copy2['Salary_zscore'].abs() > 3, np.nan, df_encoded_copy2['Salary'])  # Replace outliers with NaN
print(df_encoded_copy2.head())